<!DOCTYPE html>

<html>
    <head>
        <title>Ini adalah halaman tentang</title>
        <link rel="icon" href="/img/cuaca.png"> 
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1 class="headline-tentang">A little about me, a software engineer from Indonesia.</h1>
            <h1 class="deskripsi-tentang">Indonesian software engineers are known for their adaptability
                and innovative mindset in the rapidly growing tech industry. They excel in various fields,
                including web and mobile development, cloud computing, and artificial intelligence. With a
                strong foundation in problem-solving and an eagerness to learn, many Indonesian engineers 
                contribute to both local and international projects, driving technological advancements.
                The country's vibrant startup ecosystem and increasing global recognition provide ample
                opportunities for these professionals to showcase their skills and creativity.</h1>
            <img class="potrait" src="/img/freya.jpg">
        </div>
            {{>footer}}
    </body>
</html>